* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #070707;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  line-height: 46px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 35px 0;
  background-color: white;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
}
.header.active .nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header.active .nav-opener .span1 {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.header.active .nav-opener .span2 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.header .container {
  padding: 23px 0 0;
}

.header .border-shadow {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #828282;
  -webkit-box-shadow: 0 4px 4px 1px rgba(128, 128, 128, 0.301);
          box-shadow: 0 4px 4px 1px rgba(128, 128, 128, 0.301);
}
@media (max-width: 767px) {
  .header .border-shadow {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
    z-index: 4;
    background-color: white;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
}

.nav-list {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

.nav-item {
  display: inline-block;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  color: #828282;
  text-shadow: 2px 4px 4px rgba(130, 130, 130, 0.5);
}

.nav-link.active {
  color: #070707;
}

.nav-opener {
  display: none;
}
@media (max-width: 767px) {
  .nav-opener {
    position: absolute;
    display: block;
    top: 50px;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: alias;
    z-index: 5;
  }
  .nav-opener .span1 {
    width: 40px;
    height: 4px;
    background-color: #6490b3;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-opener .span2 {
    width: 40px;
    height: 4px;
    background-color: #6490b3;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.hero-section {
  padding: 34px 0 100px;
}
@media (max-width: 767px) {
  .hero-section {
    padding: 50px 0 30px;
  }
}

.hero-title {
  font-size: 48px;
  line-height: 64px;
  padding-top: 34px;
  padding-bottom: 40px;
}

.hero-section .image-holder img {
  width: 100%;
}

/*About me section */
.about_me_section {
  background-color: #f6f6f6;
  padding: 100px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .about_me_section {
    padding: 30px 0;
  }
}

.about_me_title {
  font-size: 34px;
  line-height: 46px;
  padding-bottom: 28px;
}

.text_holder {
  width: 100%;
  max-width: 480px;
  font-size: 18px;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.text_holder p {
  margin-bottom: 25px;
  text-align: center;
}

/*Skills section*/
.skills_section {
  padding: 100px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .skills_section {
    padding: 30px 0;
  }
}

.skills_text {
  padding-top: 44px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 25px;
}

.skills_list {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 83px;
}
@media (max-width: 767px) {
  .skills_list {
    margin-bottom: 30px;
  }
}

.skills_item {
  width: 25%;
  margin: 0 auto;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .skills_item {
    width: 50%;
    padding: 0;
    margin-bottom: 40px;
  }
  .skills_item img {
    width: 30%;
  }
}
@media (max-width: 767px) and (max-width: 567px) {
  .skills_item {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  .skills_item img {
    width: 30%;
  }
}

.skills_item .skills_logo {
  margin: 0 auto;
}

.skills_undertext {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-top: 24px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .skills_undertext {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.skills_undertext_figma {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-top: 24px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .skills_undertext_figma {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.skills_rate {
  width: 100%;
}

/*Portfolio*/
.portfolio_section {
  background-color: #f6f6f6;
  text-align: center;
}

.portfolio_title {
  font-size: 34px;
  line-height: 46px;
  padding-top: 120px;
  padding-bottom: 68px;
}

.portfolio_list {
  list-style-type: none;
}

.portfolio_photo {
  max-width: 940px;
  padding-bottom: 166px;
}

.portfolio_undertext {
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
}

.portfolio_photo_last {
  max-width: 940px;
  padding-bottom: 100px;
}
/*# sourceMappingURL=main.css.map */