* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #070707;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  line-height: 46px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: white;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;

  &.active {
    .nav {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .nav-opener {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border-color: transparent;
      background-color: rgba(201, 202, 202, 0.829);

      & .span1 {
        left: 7px;
        transform: translateY(15px) rotate(45deg);
        transition: all ease-in-out 0.15s;
        background-color: #f6f6f6;
      }

      & .span-mid {
        display: none;
        transition: all ease-in-out 0.1s;
      }

      & .span2 {
        left: 7px;
        transform: translateY(-14px) rotate(-45deg);
        transition: all ease-in-out 0.15s;
        background-color: #f6f6f6;
      }
    }
  }
}

.header .container {
  padding: 23px 15px 0;
}

.header .border-shadow {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #828282;
  box-shadow: 0 4px 4px 1px rgba(128, 128, 128, 0.301);

  @include breakpoint("md") {
    display: none;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include breakpoint("md") {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
    z-index: 4;
    background-color: white;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
}

.nav-list {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

.nav-item {
  display: inline-block;
  padding: 0 20px;

  @include breakpoint("md") {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  color: #828282;
  text-shadow: 2px 4px 4px rgba(130, 130, 130, 0.5);

  @include breakpoint("md") {
    display: block;
  }
}

.nav-link.active {
  color: #070707;
}

.nav-opener {
  display: none;

  @include breakpoint("md") {
    position: absolute;
    display: block;
    top: 50px;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 2px solid hsla(0, 18%, 10%, 0.075);
    border-radius: 10px;
    outline: none;
    cursor: alias;
    z-index: 5;

    & .span1 {
      width: 32px;
      height: 3px;
      background-color: rgb(184, 185, 185);
      position: absolute;
      top: 7px;
      left: 7px;
      border-radius: 2px;
      transform: translateY(-50%);
    }

    & .span-mid {
      width: 32px;
      height: 3px;
      background-color: rgb(184, 185, 185);
      position: absolute;
      top: 50%;
      left: 7px;
      border-radius: 2px;
      transform: translateY(-50%);
    }

    & .span2 {
      width: 32px;
      height: 3px;
      background-color: rgb(184, 185, 185);
      position: absolute;
      bottom: 7px;
      left: 7px;
      border-radius: 2px;
      transform: translateY(50%);
    }
  }
}

.hero-section {
  padding: 34px 0 100px;

  @include breakpoint("md") {
    padding: 50px 0 30px;
  }
}

.hero-title {
  font-size: 48px;
  line-height: 64px;
  padding-top: 109px;
  padding-bottom: 40px;
}

.hero-section .image-holder img {
  width: 100%;
}

/*About me section */

.about_me_section {
  background-color: #f6f6f6;
  padding: 100px 0;
  text-align: center;

  @include breakpoint("md") {
    padding: 30px 0;
  }
}

.about_me_title {
  font-size: 34px;
  line-height: 46px;
  padding-bottom: 28px;
}

.text_holder {
  width: 100%;
  max-width: 480px;
  font-size: 18px;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.text_holder p {
  margin-bottom: 25px;
  text-align: center;
}

/*Skills section*/

.skills {
  padding-top: 100px;
  text-align: center;

  @include breakpoint("md") {
    padding: 30px 0;
  }
}

.skills__title {
  margin-bottom: 44px;
}

.skills__text {
  margin-bottom: 78px;
  font-size: 18px;
  line-height: 25px;
}

.skills__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 83px;

  @include breakpoint("md") {
    margin-bottom: 30px;
  }
}

.skills__item {
  width: 25%;
  margin: 0 auto;
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include breakpoint("md") {
    width: 50%;
    padding: 20px;
  }

  @include breakpoint("xs") {
    width: 100%;
    padding: 20px;
  }
}

.skills_item .skills_logo {
  margin: 0 auto;
}

.skills_undertext {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-top: 24px;
  padding-bottom: 60px;

  @include breakpoint("md") {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.skills_undertext_figma {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-top: 24px;
  padding-bottom: 60px;

  @include breakpoint("md") {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/*Portfolio*/

.portfolio_section {
  background-color: #f6f6f6;

  text-align: center;
}

.portfolio_title {
  font-size: 34px;
  line-height: 46px;
  padding-top: 120px;
  padding-bottom: 68px;
}

.portfolio_list {
  list-style-type: none;
}

.portfolio_photo {
  max-width: 940px;
  padding-bottom: 166px;
}

.portfolio_undertext {
  padding-top: 15px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
}

.portfolio_photo_last {
  max-width: 940px;
  padding-bottom: 100px;
}

/*Footer*/

.footer {
  &__title {
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    margin-bottom: 78px;

    & span {
      display: block;
    }
  }
  &__bottom-text {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    margin-bottom: 159px;

    & span {
      display: block;
    }
  }
  &__button-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__button {
    max-width: 180px;
    width: 100%;
    height: 42px;
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    font-family: "Open sans";

    &:hover {
      color: #070707;
      background-color: transparent;
      font-weight: 700;
    }
  }
}

.icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 44px;

  &__images {
    padding: 0 30px;
  }
}
